*~
*.bak
*.annot
*.cmi
*.cmx
*.cmo
*.o

/lib/coq/*.vo
/lib/coq/*.glob

/src/lexer.ml
/src/linenum.ml
/src/parser.ml
/src/parser.mli

/tools/simplify_lexer.ml
/tools/simplify_parser.ml
/tools/simplify_parser.mli

/tests/java/*.jc
/tests/java/*.mlw
/tests/java/*.loc
/tests/java/*.jloc
/tests/java/*.makefile

/tests/c/*.jessie/*.jc
/tests/c/*.jessie/*.mlw
/tests/c/*.jessie/*.loc
/tests/c/*.jessie/*.cloc
/tests/c/*.jessie/*.makefile

/frama-c-plugin/tests/jessie/*.jessie/*.jc
/frama-c-plugin/tests/jessie/*.jessie/*.mlw
/frama-c-plugin/tests/jessie/*.jessie/*.loc
/frama-c-plugin/tests/jessie/*.jessie/*.cloc
/frama-c-plugin/tests/jessie/*.jessie/*.makefile
