*~
*.bak
*.annot
*.cmi
*.cmx
*.cmo
*.cmt
*.cmti
*.cma
*.cmxs
*.o
*.log
*.output
*.glob
*.vo

_build
bin

/.depend
/.depend.coq
/Makefile
/autom4te.cache
/bench/bench
/config.status
/configure

/jessie2-regtests.err
/jessie2-regtests.out
/regtest.opt

/doc/version.tex
/doc/*.aux
/doc/*.toc
/doc/*.idx
/doc/*.ind
/doc/*.ilg
/doc/*.bbl
/doc/*.blg
/doc/*.haux
/doc/*.hind
/doc/*.html
/doc/*.htoc
/doc/*.out
/doc/*.pp
/doc/*.bnf
/doc/pp
/doc/pp.ml
/doc/tex2bnf
/doc/tex2bnf.ml
/doc/main.pdf
/doc/manual.dvi
/doc/manual.ps
/doc/krakatoa.pdf
/doc/jessie.pdf
/doc/*.image.tex
/doc/manual001.png

/bin/gwhy.opt
/bin/jessie.opt
/bin/krakatoa.opt
/bin/rv_merge.opt
/bin/simplify2why.opt
/bin/tool-stat.opt
/bin/why-config.opt
/bin/why-cpulimit
/bin/why-dp.opt
/bin/why-obfuscator.opt
/bin/why-stat.opt
/bin/why.opt
/bin/why2html.opt
/bin/gwhy.byte
/bin/jessie.byte
/bin/krakatoa.byte
/bin/why.byte

/lib/coq/WhyCoqCompat.v
/lib/why3/why3.conf
/lib/why3/enum*

/src/why/why_lexer.ml
/src/why/why_linenum.ml
/src/why/why_parser.ml
/src/why/why_parser.mli
/src/why/why_rc.ml
/src/why/why_version.ml
/src/why/why_xml.ml

/mix/mix_lexer.ml
/mix/mix_parser.ml
/mix/mix_parser.mli

/ml/parsing/lexer.ml
/ml/parsing/linenum.ml
/ml/parsing/parser.ml
/ml/parsing/parser.mli

/intf/config.ml
/intf/hilight.ml
/intf/tagsplit.ml
/intf/whyhilight.ml

/java/java_lexer.ml
/java/java_parser.ml
/java/java_parser.mli

/src/jc/jc_ai.ml
/src/jc/jc_lexer.ml
/src/jc/jc_parser.ml
/src/jc/jc_parser.mli
/src/jc/jc_numconst.ml
/src/jc/jc_version.ml

/c/cconst.ml
/c/clexer.ml
/c/cllexer.ml
/c/clparser.ml
/c/clparser.mli
/c/cparser.ml
/c/cparser.mli
/c/cpp.ml
/c/cversion.ml

/src/frama-c-plugin/.depend
/src/frama-c-plugin/Jessie_DEP
/src/frama-c-plugin/jessie_config.ml

/tools/simplify_lexer.ml
/tools/simplify_parser.ml
/tools/simplify_parser.mli
/tools/cvcl_split.ml
/tools/ergo_split.ml
/tools/rv_split.ml
/tools/simplify_split.ml
/tools/smtlib_split.ml
/tools/toolstat_lex.ml
/tools/toolstat_pars.ml
/tools/toolstat_pars.mli
/tools/why2html.ml
/tools/zenon_split.ml

/tests/java/*.jc
/tests/java/*.mlw
/tests/java/*.loc
/tests/java/*.jloc
/tests/java/*.makefile
/tests/java/simplify/
/tests/java/why/

/tests/c/*.jessie/*.jc
/tests/c/*.jessie/*.mlw
/tests/c/*.jessie/*.loc
/tests/c/*.jessie/*.cloc
/tests/c/*.jessie/*.makefile
/tests/c/*.jessie/why
/tests/c/*.jessie/simplify
/tests/c/*.jessie/gappa

/src/frama-c-plugin/tests/jessie/*.jessie/*.jc
/src/frama-c-plugin/tests/jessie/*.jessie/*.mlw
/src/frama-c-plugin/tests/jessie/*.jessie/*.loc
/src/frama-c-plugin/tests/jessie/*.jessie/*.cloc
/src/frama-c-plugin/tests/jessie/*.jessie/*.makefile
/src/frama-c-plugin/tests/jessie/*.jessie/why
/src/frama-c-plugin/tests/jessie/*.jessie/simplify
/src/frama-c-plugin/tests/jessie/*.jessie/gappa

/export

.paths
.project
.settings

# Test output files
*.loc
*.cloc
*.jc
*.mlw
jessie.log
*.makefile

*.out
*.err

*.exe
