*~
*.bak
*.annot
*.cmi
*.cmx
*.cmo
*.cmt
*.cmti
*.cma
*.cmxs
*.o
*.log
*.output
*.glob
*.vo
*.aux
*.install

_build
bin

/.depend
/.depend.coq
/Makefile
/autom4te.cache
/bench/bench
/config.status
/configure
generate.ml.exe
/src/frama-c-plugin/.Makefile.plugin.generated
/src/frama-c-plugin/AstraVer.check_mli_exists
/src/frama-c-plugin/META.frama-c-jessie
/src/frama-c-plugin/frama-c
/src/frama-c-plugin/top/

/doc/version.tex
/doc/*.aux
/doc/*.toc
/doc/*.idx
/doc/*.ind
/doc/*.ilg
/doc/*.bbl
/doc/*.blg
/doc/*.haux
/doc/*.hind
/doc/*.html
/doc/*.htoc
/doc/*.out
/doc/*.pp
/doc/*.bnf
/doc/pp
/doc/pp.ml
/doc/tex2bnf
/doc/tex2bnf.ml
/doc/main.pdf
/doc/manual.dvi
/doc/manual.ps
/doc/krakatoa.pdf
/doc/jessie.pdf
/doc/*.image.tex
/doc/manual001.png

/bin/astraver.opt
/bin/astraver.byte

/lib/why3/why3.conf
/lib/why3/alt-ergo_enum.drv
/lib/why3/alt-ergo_remove_triggers_enum.drv
/lib/why3/cvc4_enum.drv
/lib/why3/cvc4_enum_nobv.drv
/lib/why3/z3_enum.drv
/lib/why3/z3_enum_nobv.drv

/src/av/version.ml
/src/av/.merlin

/src/frama-c-plugin/.depend
/src/frama-c-plugin/Astraver_DEP
/src/frama-c-plugin/astraver_config.ml

/src/frama-c-plugin/tests/astraver/*.av/*.jc
/src/frama-c-plugin/tests/astraver/*.av/*.mlw
/src/frama-c-plugin/tests/astraver/*.av/*.loc
/src/frama-c-plugin/tests/astraver/*.av/*.cloc
/src/frama-c-plugin/tests/astraver/*.av/*.makefile
/src/frama-c-plugin/tests/astraver/*.av/why
/src/frama-c-plugin/tests/astraver/*.av/simplify
/src/frama-c-plugin/tests/astraver/*.av/gappa
/src/frama-c-plugin/tests/ptests_config

.paths
.project
.settings
